
header {
    display: flex;                 
    justify-content:center; 
    align-items: center;           
    padding: 10px 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    text-align: center;
}


header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}


nav {
    display: flex;  
}


nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    transition: background0.3s, color 0.3s;
}


nav a:hover {
    background-color: #333;
    color: white;
    border-radius: 5px;
}


.home {
    text-align: center;
    padding: 20px;
}


.product {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;        
}


.card {
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 10px;
}

header {
    display: flex;                
    justify-content: space-between; 
    align-items: center;         
    padding: 10px 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}


nav {
    display: flex;  
    gap: 20px;      
}


nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    transition: background 0.3s, color 0.3s;
}


nav a:hover {
    background-color: #333;
    color: white;
    border-radius: 5px;
}


.about {
    text-align: center;
    padding: 20px;
}

header {
    display: flex;                 
    justify-content: space-between;
    align-items: center;           
    padding: 10px 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}


nav {
    display: flex;  
    gap: 20px;      
}


nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    transition: background 0.3s, color 0.3s;
}


nav a:hover {
    background-color: #333;
    color: white;
    border-radius: 5px;
}


.section {
    text-align: center;
    padding: 20px;
}


form input {
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 250px;
    border-radius: 5px;
    border: 1px solid #ccc;
}


form button {
    padding: 10px 20px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #555;
}

header {
    display: flex;                  
    justify-content: space-between;  
    align-items: center;           
    padding: 10px 20px;
    background-color: #f8f8f8;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}


header h1 {
    margin: 0;
    font-size: 24px;
    color: #333;
}


nav {
    display: flex;   
    gap: 20px;       
}

nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    padding: 5px 10px;
    transition: background 0.3s, color 0.3s;
}


nav a:hover {
    background-color: #333;
    color: white;
    border-radius: 5px;
}


.section {
    text-align: center;
    padding: 20px;
}



